* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	font-family: Arial, sans-serif;
    background-image: url('../../imgs/signup/pexels-roberto-nickson-2631613.webp');
	background-size:cover ;
	background-position: center;
	padding: 30px;
}

h2 {
	text-align: center;
	color: #f8f8f8;
}

form {
	max-width: 600px;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

label {
	display: block;
	margin-bottom: 5px;
	color: #333;
    padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="file"],
input[type="month"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
	font-size: 16px;
	background-color: #f8f8f8;
}

input[type="radio"] {
	margin-right: 5px;
}



fieldset {
	margin-bottom: 10px;
    
}
/* Style the payment options */
label[for="paypal"],
label[for="visa"],
label[for="mastercard"],
label[for="other"] {
	display: inline-block;
	margin-right: 10px;
}

input[type="radio"][name="payment"] {
	display: inline-block;
	margin-right: 10px;
}

legend {
	font-weight: bold;
	color: #333;
}

/* Style the payment options */
input[type="radio"] + label {
	margin-right: 10px;
	color: #333;
}


/* Style the file input */
input[type="file"] {
	cursor: pointer;
}

/* Style the services options */
label[for="service1"],
label[for="service2"],
label[for="service3"],
label[for="service4"],
label[for="service5"],
label[for="service6"] {
	display: inline-block;
	margin-right: 10px;
}

input[type="radio"][name="services"] {
	display: inline-block;
	margin-right: 10px;
}
button[type="submit"] {
	background-color: #fe6d60;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	font-size: 16px;
    width: 100%;
	height: 50px;
}
button[type="submit"]:hover {
	background-color: #fe6d60;
  }