.blogDetails {
    padding: 12rem 0 12rem;
}

.head {
    padding: 3rem 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.article-header {
    display: flex;
    align-items: center;
    padding: 30px;
}

.article-header .date {
    margin-right: 25px;
    width: 10.5rem;
    height: 10.5rem;
    background-color: var(--secondary);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-header .date span {
    display: block;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.article-header .date span:first-child {
    font-weight: 400;
    font-size: 38px;



}

.article-header .heading-header {
    width: 70%;
    align-self: center;
}

.article-header .heading-header h3 {
    font-size: 30px;
    color: var(--h-color);
    font-weight: bold;
    margin-bottom: 10px;
}

.article-header .heading-header h3 a:hover {
    color: var(--secondary);
}

.article-header .heading-header .company-content {
    display: flex;
    color: var(--primary);

}

.article-header .heading-header .company-content .item {
    margin-right: 20px;
    font-size: 16px;

}

.article-header .heading-header .company-content a:hover {
    color: var(--secondary);
}

.article-header .heading-header .company-content a:hover i {
    color: var(--secondary);
}

.article-header .heading-header .company-content .item i {
    margin-right: 5px;
    color: var(--primary);
}













.recent-posts {
    padding: 40px 30px;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    margin-bottom: 30px;
    background: #fff;
    margin-right: 5rem;
}

.details .image {
    position: relative;
}

.recent-posts h4 {
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: 2px dashed var(--primary);
    font-size: 24px;
}

.recent-posts .item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.recent-posts .item:last-child {
    margin-bottom: 0;
}

.recent-posts .item .image img {
    border-radius: 4px;
    width: 100px;
    ;
    height: 67px;
}

.recent-posts .item .content {
    margin-left: 20px;
}

.recent-posts .item .content h5 {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    margin-bottom: 5px;
}

.recent-posts .item .content h5 a:hover {
    color: var(--primary);
}

.recent-posts .item .content span {

    font-size: 12px;
    font-weight: 500;
}

.recent-posts .item .content span i {
    margin-right: 4px;
    font-size: 14px;
    color: var(--primary);
}

.details {
    box-shadow: var(--shadow);
    background: var(--main-bg);
    border-radius: 1rem;
    overflow: hidden;
}

.detailsContent {
    padding: 3rem;
}

.total {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;

}

.totalItem {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: .5rem;
    margin-right: 1.5rem;
    color: var(--primary);
}

.totalIcon {
    /* color: var(--primary); */
}

.details h2 {
    font-size: 3.2rem;
    font-weight: 600;
    width: 95%;
    margin-top: 2rem;
}

.details p {
    font-size: 1.8rem;
    line-height: 1.8;
}


.commentsSection {
    background: var(--second-bg);
    padding: 5rem 0;
}



.addComment {
    display: flex;
    flex-direction: column;

}

.addComment textarea {
    border: 5px solid rgba(222, 226, 230, .5);
    color: var(--h-color);
    font-size: 1.8rem;
    padding: 1rem;


}

.addComment textarea:focus {
    border-color: var(--secondary);
}

.addComment label {
    font-size: 2.2rem;
    color: var(--primary);
    font-weight: 600;
    margin-bottom: 2rem;
}

.addComment button {
    border: none;
    width: fit-content;
    margin: 2rem auto 0;
}

.allComments {
    padding: 2rem 0 5rem;
    border-top: 5px solid rgba(222, 226, 230, .5);
    background: var(--second-bg);
}

.comment {
    align-items: center;
    margin: 8rem 0;

}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
}

.userImg {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.userImg img {
    height: 100%;
}

.userContent h3 {
    font-weight: 600;
}

.comment p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.like {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: var(--primary);
    font-size: 1.8rem;
    font-weight: 600;
}

.likeBtn {
    background: none;
    color: var(--p-color);
    border: none;
}

.likeBtn.active,
.likeBtn:hover i {
    color: var(--primary);
}