.blogDetails {
    padding: 10rem 0 10rem;
}

.head {
    padding: 3rem 0 5rem;
}

.recent-posts {
    padding: 40px 30px;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    margin-bottom: 30px;
    background: #fff;
    margin-right: 5rem;
}

.details .image {
    position: relative;
}

.recent-posts h4 {
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: 2px dashed var(--primary);
    font-size: 24px;
}

.recent-posts .item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.recent-posts .item:last-child {
    margin-bottom: 0;
}

.recent-posts .item .image img {
    border-radius: 4px;
    width: 100px;
    ;
    height: 67px;
}

.recent-posts .item .content {
    margin-left: 20px;
}

.recent-posts .item .content h5 {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    margin-bottom: 5px;
}

.recent-posts .item .content h5 a:hover {
    color: var(--primary);
}

.recent-posts .item .content span {

    font-size: 12px;
    font-weight: 500;
}

.recent-posts .item .content span i {
    margin-right: 4px;
    font-size: 14px;
    color: var(--primary);
}

.details {
    box-shadow: var(--shadow);
    background: var(--main-bg);
    border-radius: 1rem;
    overflow: hidden;
}

.detailsContent {
    padding: 3rem;
}

.total {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;

}

.totalItem {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: .5rem;
    margin-right: 1.5rem;
    color: var(--primary);
}

.totalIcon {
    /* color: var(--primary); */
}

.details h2 {
    font-size: 3.2rem;
    font-weight: 600;
    width: 95%;
    margin-top: 2rem;
}

.details p {
    font-size: 1.8rem;
    line-height: 1.8;
}