/******************************
***********[1-header]*********
*****************************/

header {
    padding: 22rem 0 18rem;
    background: linear-gradient(to right,
            /* rgba(8, 4, 41, 0.95) 10%, */
            rgba(4, 29, 41, 0.96) 10%,
            rgba(240, 240, 240, 0.2) 70%),
        url("../imgs/home/header3.webp") no-repeat;

    background-position: center;
    background-size: cover;
}

.headerContent {
    width: 50%;
}

header h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
}

header p {
    margin: 2rem 0 3rem;
    font-size: 1.8rem;
    color: #dfdfdf;

}

.discoverBtn {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 1.5rem 2rem;
}

.discoverBtn:hover {
    display: flex;
}

.discoverIcon {
    display: flex;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    color: var(--h-color);
    margin-right: 1rem;
}

/*****************************
***********[categories]******
*****************************/
.categories {
    background: var(--second-bg);
    padding: 4rem 0;
}

.item {

    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-size: 1.4rem;
    color: #520000;
    margin: 1.5rem 0;

}

.item a {
    /* box-shadow: var(--shadow); */
    margin: 0 1rem;
    /* background: #fff; */
    padding: 2rem 1rem;
}

.item a:hover .itemText {
    text-decoration: underline;

}

.itemIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
    font-size: 5.2rem;
    color: var(--secondary);
}

/*************************************
************ [hosts]*************
********************************/

.cards {
    background: var(--main-bg);

}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

/* .cards h2 {
    position: relative;
    font-size: 2.9rem;
} */


/******************************
***********[4-places]*********
*****************************/

.places {
    background: var(--second-bg);
}

.placeItem {
    position: relative;
    margin: 2rem 1rem;
}

.placeImage {
    position: relative;
}

.placeImage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5e4708;
    opacity: .4;
}

.placeLink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid #fff;
    font-size: 1.8rem;

}