/*********************************************
******************[global system]*******************
*********************************************/
:root {
    --primary: #ff5849;
    --secondary: #ffb400;
    --shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    --p-color: #a9a2a2;
    --h-color: #0c0a5d;
    /* --h-color: #092046; */
    --main-bg: #fff;
    --second-bg: #fafaff;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    /* word-wrap: break-word; */
    transition: .3s all ease;
    text-transform: capitalize;

    font-family: "poppins";
}

input,
textarea {
    text-transform: none;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

.logoutBtn {
    margin-left: 1rem;
}

body {
    line-height: 1.6;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--p-color);
    background: var(--main-bg);
    overflow-x: hidden;
    transition: 0.3s all ease;

    margin: 0 auto;
}

::-moz-selection {
    background-color: var(--primary);
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: var(--primary);

    color: #fff;
    text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.6;

    padding: 0;
    color: var(--h-color);
}

p {
    color: var(--p-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

ul {
    margin: 0;
}

span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-padding {
    padding: 10rem 0;
}

.myContainer {
    max-width: 1360px;
    margin: 0 auto;
}

.ml-auto {
    margin-left: auto;
}

.ontop {
    position: relative;
    z-index: 4;
}

.position-re {
    position: relative;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-fixed {
    background-attachment: fixed;
}

.main-btn,
.second-btn {

    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: #fff;
    border: none;
    text-transform: capitalize;
}

.main-btn {
    background: var(--primary);
}

.second-btn {
    background: var(--secondary);

}

.main-btn:hover {
    background: var(--secondary);
    color: #fff;
}

.second-btn:hover {
    background: var(--primary);
    color: #fff;
}



.heading {
    font-size: 3.6rem;
    font-weight: 700;
    position: relative;
    z-index: 3;
}

.heading::after {
    content: "";
    position: absolute;
    top: 0;
    left: .5rem;
    background: var(--primary);
    width: 3rem;
    height: 3rem;
    /* border-radius: 50%; */
    z-index: -1;
}

/*********************************************
******************[navbar]*******************
*********************************************/

.navbar {
    padding: 1rem 3rem !important;
    position: fixed;
    width: 100%;
    z-index: 999;

}

.navbar.active {
    box-shadow: var(--shadow);
    background: var(--main-bg);
    padding: 1.5rem 3rem !important;
}

.navbar-brand {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--secondary);
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    font-size: 1.5rem;
    position: relative;
    color: var(--h-color);
}

.nav-item:not(:last-of-type) .nav-link {
    margin-right: 2rem !important;
}

.nav-link.active {
    color: var(--secondary) !important;
}

.nav-link:hover {
    color: var(--secondary);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--secondary);
    transition: .3s all ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 30%;
}

.navJoinBtn {
    margin-left: 1rem;
}

.notification {
    margin-left: 2rem;
}

.notification .dropdown-toggle {
    background: none;
    color: var(--primary);
    font-size: 2.4rem;
    border: none;
}

.notification .dropdown-toggle::after {
    display: none;
}

.notification .dropdown-toggle:hover,
.notification .dropdown-toggle:focus {
    background: none;
    color: var(--secondary)
}

.notification .dropdown-menu {
    /* transform: translate(calc(-90% - 1rem), 1rem); */
    right: 0;
    left: auto;
    transform: translateY(1rem);
    background: var(--main-bg);
    border: none;
    box-shadow: var(--shadow);
    padding: 2rem 1.5rem;
    font-size: 1.4rem;
    color: red !important;
    width: 40rem;
    height: 55rem;
    overflow-y: scroll
}

.notification .dropdown-menu::-webkit-scrollbar {
    background: #ddd;
    border-radius: 3rem;
    width: .8rem;

}

.notification .dropdown-menu::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 3rem;
}

.notification .noti-item {
    color: var(--p-color);
    display: flex;
    align-items: flex-start;


}

.noti-item:not(:last-of-type) {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px dashed;
}

.noti-icon {
    margin-right: 1.5rem;
    min-width: 5rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2.2rem;
}

.red-noti {
    background: rgb(255, 88, 73, .1);
    color: var(--primary);

}

.green-noti {
    background: rgba(45, 203, 45, 0.1);
    color: rgb(45, 203, 45);

}

.purple-noti {
    background: rgba(132, 45, 203, 0.1);
    color: rgb(132, 45, 203);

}

.notification .noti-item p {
    color: var(--p-color);
    font-size: 1.4rem;

}

.noti-actions {
    margin-top: 2rem;
}

.noti-actions button {
    border: none;
    text-transform: capitalize;
}

.noti-actions button:hover {
    background: #0c0a5d;
}

.userInfo {
    display: flex;
    align-items: center;
    /* min-width: 90rem; */

}

.userInfo:hover {
    display: flex;
}

.user_img {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1rem;
}

.user_img img {
    height: 100%;
}

/********************
********* card******
*****************/
.myCard {
    box-shadow: var(--shadow);
    display: flex;
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
    margin: 1.5rem 0;
}

.cardImage {
    position: relative;
}

.love {
    position: absolute;
    bottom: 0;
    right: 2rem;
    transform: translateY(50%);
    background: #fff;
    box-shadow: var(--shadow);
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--primary);
    font-size: 2.4rem;
    border-radius: 50%;
    padding: 2.8rem;
    z-index: 99;
}

.love span {
    padding: .8rem;
    border: 3px dotted var(--primary);
    display: flex;
    border-radius: 50%;
    transition: .5s all ease;
}

.love:hover span {
    transform: rotate(360deg);
}

.cardContent {
    padding: 4rem 3rem 4rem;
}

.cardContent h3 {
    font-size: 2rem;
    margin: 1.5rem 0 3rem;
    font-weight: 600;
}

.cardDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    margin-left: 1rem;
    color: #ffd700;
    font-size: 1.4rem;
}

.userContent {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.userCardImg {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid var(--secondary);
    margin-right: 2rem;
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translateY(50%);
    box-shadow: var(--shadow);
}

.userCardImg img {
    height: 100%;

}

.userCardContent {
    display: flex;

    align-items: center;
    font-size: 1.6rem;
    color: var(--p-color);
    margin-left: 1rem;
}

.userCardContent span:first-of-type {
    margin-right: .8rem;
    font-weight: 500;
}

.userCardContent span:last-of-type {
    color: var(--p-color);
    font-size: 1.6rem;
    text-decoration: underline;
}

/********************
********* footer******
*****************/

ul {
    padding: 0;
}

footer {
    padding: 5rem 0;
    background: #052e2e;
}

.footerSection {
    display: flex;
    flex-direction: column;
}

.footerItem {
    padding: 0 1rem;
}

.footerItem p {
    width: 75%;
    font-size: 1.6rem;
    color: #e6e6e6;
}

.footerItem h3 {
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--primary);
}

.footerItem a {
    font-size: 1.7rem;
    color: #fff;
}

.footerItem a:not(:last-child) {
    margin: 0 0 1rem 0;

}

.footerItem a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.copyRight {
    text-align: center;
    background: #052e2e;
    padding: 3rem 2rem;
    border-top: 1px solid;
}

.copyRight p {
    color: #fff;
    font-size: 1.8rem;

}

.modal-body {
    padding: 2rem 1rem;
}

.postItem {
    display: flex;
    flex-direction: column;
}

.postItem:not(:last-of-type) {

    margin: 0 0 3rem 0;
}

.postItem label {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--h-color);
}

.postItem input,
.postItem textarea {
    border: 4px solid rgba(222, 226, 230, .5);
    padding: 1rem;
    border-radius: 1rem;

}