:root {
    --primary: #FD621A;
    --secondary: #f00;
    --shadow: rgba(0, 0, 0, 0.12) 0px 0px 10px;
    --p-color: #00f;
    --h-color: #0f0;
    --main-bg: #fff;
    --second-bg: #f6f6f6;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    /* word-wrap: break-word; */

    text-transform: capitalize;

    font-family: "poppins";
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--p-color);
    background: var(--main-bg);
    overflow-x: hidden;
    transition: 0.3s all ease;
    margin: 0 auto;
}

::-moz-selection {
    background-color: var(--primary);
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: var(--primary);

    color: #fff;
    text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.6;

    padding: 0;
    color: var(--h-color);
}

p {
    color: var(--p-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

ul {
    margin: 0;
}

span,
a,
a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-padding {
    padding: 8rem 0;
}

.ontop {
    position: relative;
    z-index: 4;
}

.position-re {
    position: relative;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-fixed {
    background-attachment: fixed;
}