.searchInputContainer {
  position: sticky;
  background-color: var(--primary);
  margin-top: 6rem;
  --btn-p: 1.2rem;
  --search-x-p: 1.6rem;
}

.searchInputContainer .container form {
  border-radius: 11px;
  position: relative;
}

.searchInput {
  padding: 1.4rem var(--search-x-p);
  padding-right: calc(var(--search-x-p) + 2 * var(--btn-p));
  font-size: 1.6rem;
  border-radius: 11px;
}

.searchInput:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.search-btn {
  color: var(--primary);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: var(--btn-p);
  z-index: 1;
}
